<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    processIsolation="false"
    colors="true"
>
    <testsuites>
        <testsuite name="Phanglia Test Suite">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
        <blacklist>
            <file>test/bootstrap.php</file>
        </blacklist>
    </filter>
</phpunit>
